@tailwind base;
@tailwind components;
@tailwind utilities;


/* Track */
::-webkit-scrollbar {
    width: 8px;
    /* width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* color of the scrollbar handle when hovered */
}